nav li {
  display: inline-block;
}
nav {
  border: 1px dashed black;
  text-align: center;
}
img {
  width: 300px;
}
#head {
  border: 1px dashed black;
  margin-bottom: 20px;
}
.book_img {
  text-align: center;
}
.book_img img, .img_div {
  width: 200px;
  height: 270px;
}
#book_container, #recipe_container, #ing_container {
  display: inline-block;
  border: 1px dashed black;
  padding-left: 5px;
  margin-left: 75px;
  margin-bottom: 20px;

}
#ing_book_show {
  display: inline-block;
}
#ing_book_show img {
  width: 100px;
  height: 100px;
}
#row_book_show {
  margin-bottom: 10px;
}
#row_book_show:nth-child(odd) {
  background: grey;
}
#ing_book_big {
  padding-top: 20px;
}
.recipe_img img, .ing_img img, #show_ing_img img, #rec_ing_show img {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}
.recipe_img, .ing_img {
  text-align: center;
}
#ing_recipe_show, #rec_ing_show {
  margin-left: 0px;
  margin-right: 20px;
}

